/* Table of contents:
   ------------------
    1. General rules
    2. Form styles
    3. Join checklist style
    4. Benefits section style
    5. Media Query: Mid screen layout style
    6. Media Query: large screen layout style
*/

/* 1. General rules */
#joinIpssa h2 {
    padding-bottom: 2em;
}
form ul,  #joinChecklist {
    list-style-type: none;
}
#joinIpssa, #joinBenefits {
    padding: 1em 2em 4em 2em;
}

/* 2. Form styles */
fieldset {
    padding: 1em;
    border: solid 1px #1d4c7f;
    background-color: #eaf4ff;
}
legend {
    font-style: italic;
    color: #1d4c7f;
    padding: 0 .5em;
}
label {
    color: #1d4c7f;
    margin: .5em 0 0;
    display: block;
    text-align: left;
    width: 100px;
}
input {
    padding: .5em;
    margin: .25em 0;
    color: #707070;
    width: 100%;
}
::placeholder {
    color: #707070;
}
#submitBtn {
    background-color: #1d4c7f;
    color: #fff;
    padding: .75em 2em;
    margin-top: 1em;
    border: none;
}

/* 3. Join checklist style */
#joinChecklist {
    margin-top: 1em;
}
#joinChecklist li {
    padding: .5em 0;
}

/* 4. Benefits section style */
#joinBenefits {
    border-top: solid 2px #eaf4ff;
    margin-bottom: 2em;
}
#joinBenefits ul {
    padding-left: 2em;
    list-style-type: square;
}
#joinBenefits p, #joinBenefits ul li {
    text-align: left;
}

/* 5. Media Query: Mid screen layout style */
@media screen and (min-width: 525px) {
    /* Form styles */
    label {
        display: inline-block;
    }
    input {
        width: 250px;
    }
}

/* 6. Media Query: large screen layout style */
@media screen and (min-width: 750px) {
    form {
        width: 80%;
        margin: auto;
    }
}
