/*
--- color ---
darkblue: #1d4c7f;
paleblue: #eaf4ff;
dark grey: #3b3b3b;
grey: #707070;
orange: #ff5f1f;
*/

/* overall */
/* p {
    margin: 0 1em;
} */


/* sect.ww styles */



@media screen and (min-width: 615px) {
    
}

@media screen and (min-width: 800px) {
    .twoCol {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr 2fr;
        align-items: center;
        padding: 0 1em;
    }
    
    .twoCol img {
        order: -1;
        grid-row: span 2;
        width: 100%;
        padding-right: 1em;
    }
    
    .brochure {
        display: flex;
        justify-content: space-around;
    }
    
    #outside, #inside {
        width: 45%;
    }
    
    #truths {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .five {
        width: 28%;
        margin: 2em 1em 0;
    }
}


