/*
--- color ---
darkblue: #1d4c7f;
paleblue: #eaf4ff;
dark grey: #3b3b3b;
grey: #707070;
orange: #ff5f1f;
*/

/* overall */
p {
    margin: 0 1em;
}

span.ww {
    font-weight: 700;
    color: #1d4c7f;
}

/* sect.center styles */
.center h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #ff5f1f;
}

/* sect.twoCol styles */
.twoCol h4 {
    font-family: usual, sans-serif;
    font-size: 1em;
    font-weight: 700;
}

.twoCol img {
    width: 80%;
    padding: .5em 0;
}


/* sect.ww styles */

/* video styles */
.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
    margin: 0 25px;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.ww h4 {
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: .5em;
}

.brochure img {
    width: 80%;
    border: solid 1px #707070;
}

#outside, #inside {
    margin-bottom: 1.5em;
}

#outside a, #inside a {
    display: block;
}

.wwTag {
    margin: 0 .5em;
}

.test {
    border: solid 1px #1d4c7f;
    padding: .5em;
    margin: .5em 1em;
}

.test p {
    font-size: .8em;
    font-style: italic;
}

.learn p:first-child {
    font-size: 1.2em;
    font-weight: 600;
}

.learn p a.whiteBtn {
    margin: 1em 4em;
}

.learn p:nth-child(2) a, .learn p:last-child a {
    display: block;
}


/* sect.fact styles */
#fact {
    margin: 1.5em 0;
    border-top: solid 2px #eaf4ff;
}

#truths {
    margin: .5em 0;
    padding: 2em 0;
    /*border-top: solid 2px #eaf4ff;*/
}

.five {
    display: block;
    background-color: #fefcd3;
    width: 80%;
    padding: 1em 2em 2em;
    margin: 2em auto 0;
}

.five ul {
    text-align: left;
}

.five ul li {
    padding-bottom: .5em;
}

img.svg {
    width: 3em;
    height: auto;
    padding-top: 1em;
}

#truths h3 {
    padding: .5em 0 .5em;
}

@media screen and (min-width: 615px) {
    div.wwTag {
        margin: 0 2em;
    }
    .video{
        margin: 0 50px;
    }
    .test p {
    font-size: 1em;
    }
    
    .learn p a.whiteBtn {
    margin: 1em;
    }

    .learn p:nth-child(2) a, .learn p:last-child a {
    display: inline;
    }
    
    
    .five {
        width: 70%;
    }
}

@media screen and (min-width: 800px) {
    .twoCol {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr 2fr;
        align-items: center;
        padding: 0 1em;
    }
    
    .twoCol img {
        order: -1;
        grid-row: span 2;
        width: 100%;
        padding-right: 1em;
    }
    
    .brochure {
        display: flex;
        justify-content: space-around;
    }
    
    #outside, #inside {
        width: 45%;
    }
    
    #truths {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .five {
        width: 28%;
        margin: 2em 1em 0;
    }
}


