/**********************************************************
TABLE OF CONTENTS:
----------------------------
1. Adobe font kit
2. General styles
    2.1 Responsive image
    2.2 Button styles
    2.3 Responsive Video styles
    2.4 Responsive Map and Calendar
    2.5 Form styles
    2.6 Title Bar style for all pages
3. cta - Join ipssa section styles
4. Responsive Navigation bar
5. Hero styles
6. SaveLife(Water watcher) section styles
7. Awards and Events section styles
8. Footer styles
9. Services page styles
10. Safety - Water Safety page styles
11. Members - Meeting page styles
12. Join(members.html) page styles
13. About us - Who we are page styles
14. Resources - Continuing Education Program page styles
15. Media Queries
    @media screen and (min-width: 525px)
    @media screen and (min-width: 615px)
    @media screen and (min-width: 650px)
    @media screen and (min-width: 700px)
    @media screen and (min-width: 750px)
    @media screen and (min-width: 800px)
    @media all and (min-width: 960px)
16. About Us - Contact Us page styles found under - css/contact.css
17. CSS Normalization file found under - css/normalize.css
18. Style guide is found under - css/styleGuide.css
-----------------------------

PROJECT DETAILS:
-----------------------------
AUTHOR: Muktha Krishnaswamy, Maki Hagan, David Walker
PROJECT: IPSSA, San Diego
VERSION: 1.0
LAST UPDATE: 06/07/2021
NOTES: Original website http://www.ipssasandiego.com/. This website has been redesigned and developed as a part of the Front-web design course at SDCE.

COLOR GUIDE:
---------------------------
darkblue: #1d4c7f
paleblue: #eaf4ff
dark grey: #3b3b3b
grey: #707070
orange: #ff5f1f

TYPOGRAPHY GUIDE:
---------------------------
font-family: usual, sans-serif, 400, normal;(body)
font-family: usual, sans-serif, 400, italic;(form legend)
font-family: usual, sans-serif, 600, normal;(some h3)
font-family: usual, sans-serif, 700, normal;(some h4)
font-family: minion-pro, serif, 400, normal;(h3)
font-family: minion-pro-caption, serif, 500, normal;(h2)
font-family: minion-pro-caption, serif, 600, normal;(h1)

**********************************************************/

/*************** 1. Adobe Font kit ***************/
@import url("https://use.typekit.net/mom4myj.css");

/**********************************************************/
/*************** 2. General styles ***************/
article, aside, figure, footer, header, nav, main, section, video, audio {
    display: block;
}
/*Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: normal 400 16px/1.4 usual, sans-serif;
    color: #3b3b3b;
}
main {
    max-width: 1024px;
    text-align: center; 
    margin: 0 auto;
}
h1 {
    font: normal 600 2em minion-pro-caption, serif;
    color: #1d4c7f;
}
h2 {
    font: normal 500 1.6em minion-pro-caption, serif;
    color: #1d4c7f;
    padding: 1em 0;
}
h3 {
    font: normal 400 1.4em minion-pro, serif;
    color: #1d4c7f;
    padding: 1em 0;
}
h4 {
    font: normal 500 16px minion-pro-caption, serif;
    color: #1d4c7f;
}
/* Individual element selctor */
p {
    padding: .5em 0;
    line-height: 1.4em;
}
a {
    color: #1d4c7f;
}
/* Pseudo-class selector */
a:hover {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.1em;
}
/*** 2.1 Responsive image ***/
img {
    max-width: 100%;
    height: auto;
}
/*** 2.2 Button styles ***/
a.whiteBtn {
    display: inline-block;
    background-color: #fff;
    color: #ff5f0d;
    border: solid 1px #1d4c7f;
    padding: .6em 1.2em .5em;
    text-decoration: none;
    margin: 1em;
}
a.blueBtn {
    display: inline-block;
    background-color: #1d4c7f;
    color: #fff;
    padding: .5em 2em;
    text-decoration: none;
    margin: 1em 0 .3em 0;
}
a.blueBtn:hover {
    color: #1d4c7f;
    background-color: #eaf4ff;
    border: solid 1px #1d4c7f;
    font-size: 1em;
}
/*** 2.3 Responsive Video styles ***/
.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
    margin: 0 25px;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
/***  2.4 Responsive Map and Calendar ***/
/* Grouped selector */
.map, .calWrapper {
    position: relative;
    padding-bottom: 65%;
    height: 0;
    overflow: hidden;
}
.map iframe, .calWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.calWrapper {
    padding-bottom: 100%;
}

/*** 2.5 Form styles ***/
fieldset {
    padding: 1em;
    border: solid 1px #1d4c7f;
    background-color: #eaf4ff;
}
legend {
    font: italic 400 1em usual, sans-serif;
    color: #1d4c7f;
    padding: 0 .5em;
}
label {
    color: #1d4c7f;
    margin: .5em 0 0;
    display: block;
    text-align: left;
    width: 100px;
}
input {
    padding: .5em;
    margin: .25em 0;
    color: #707070;
    width: 100%;
}
::placeholder {
    color: #707070;
}
/* ID selector */
#submitBtn {
    background-color: #1d4c7f;
    color: #fff;
    padding: .75em 2em;
    margin-top: 1em;
    border: none;
}

/*** 2.6 Title Bar style for all pages ***/
/* Class selector */
.titleBar {
    background-color: #eaf4ff;
    padding: 1em;
}
.titleBar h1{
    text-align: center;
}

/**********************************************************/
/*************** 3. cta - Join ipssa section styles ***************/
#cta {
    background: #eaf4ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.join h2 {
    font-size: 1.2em;
    font-weight: 500;
    width: 45%;
    align-self: center;
    line-height: 1.5;
    margin-right: 1em;
}
.join .blueBtn {
    margin-bottom: 1em;
}
.joinLg {
    display: none;
}
.loginHere {
    font-size: .9em;
}

/**********************************************************/
/***************  4. Responsive Navigation bar ***************/
.logo {
    font-size: 1.3em;
    padding: 15px 0 10px 40px;
}
/* Descendent selector */
.logo a img {
    max-height: 90px;
}
.navbar, .subNav {
    list-style-type: none;
}
.subNav {
    display: none;
    padding-left: 2px;
    font-size: .875em;
}
.subNav li:not(:last-of-type) {
    border-bottom: solid 1px #fff; 
}
.subNav li:first-of-type {
    border-top: solid 1px #fff;
}
.sactive .subNav {
    display: block;
}
.sactive {
    background-color: #eaf4ff;
}
.navbar  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navItem {
    border-bottom: solid 1px #eaf4ff;
    padding: 5px 15px;
    text-align: left;
    width: 100%;
    display: none;
    order: 3;
}
.toggle {
    font-size: 2em;
    padding: 40px;
    order: 1;
}
.active .navItem {
    display: block;
}
.navItem a {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .875em;
}
.navItem a:hover {
    background-color: #eaf4ff;
}
.navItem .navJoinBtn{
    padding: .5em 2em;
    width: 90px;
}
.navItem .navJoinBtn:hover {
    color: #1d4c7f;
    background-color: #eaf4ff;
    border: solid 1px #1d4c7f;
    font-size: .875em;
}

/**********************************************************/
/***************  5. Hero styles ***************/
#hero {
    background: url(../images/hero-small.jpeg) no-repeat center;
    background-size: cover;
    background-position: 50% 34%;
    height: 100%;
    text-align: center;
}
#hero p {
    color: #fff;
    padding: 0 2em;
}
#hero h1 {
    margin: 0;
    text-shadow: 0 0 8px #fff;
    padding: 0 1em;
}
#hero h1:first-child {
    padding-top: 2em;
    padding-bottom: .3em;
}
#hero h1:nth-child(2) {
    padding-bottom: 1em;
}
#hero .whiteBtn {
    margin-bottom: 3em;
}

/**********************************************************/
/*************** 6. SaveLife(Water watcher) section styles ***************/
.saveLife {
    padding: 1em 2em 1.5em;
}
.saveLife a {
    display: block;
    margin: 1em 0;
}
.saveLife a img {
    padding-top: .5em;
}
div.wwTag a {
    display: inline;
}
img.wwTag {
    max-width: 500px;
    width: 80%;
}

/**********************************************************/
/*************** 7. Awards and Events section styles ***************/
#awards {
    margin: 1em 0;
    padding: 2em 0;
    border-top: solid 2px #eaf4ff;
}
#awards article {
    display: block;
    background-color: #eaf4ff;
    padding: 1em 2em 2em;
    margin: 3em 2em;
}
#awards article:last-child p:first-child {
    padding-top: 2em;
}

/**********************************************************/
/***************  8. Footer styles ***************/
footer {
    padding: 2em 1em;
    text-align: center;
    background-color: #eaf4ff;
    color: #1d4c7f;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.fItem {
    margin: 5px 5px;
}
.footerLogo {
    max-width: 90px;
}
footer p {
    padding: 0;
    font-size: .8em;
}
footer h4 {
    font-weight: bold;
}
#contactInfo p:first-of-type, #contactInfo p:nth-of-type(4) {
    padding-top: .6em;
}
#social p:first-of-type {
    padding-top: 1em;
}
#social a{
    font-size: 25px;
    padding:5px;
    margin-top: 10px;
}
.copyright {
    font-size: .7em;
}

/**********************************************************/
/*************** 9. Services page styles ***************/
.twoCol {
    margin: 1em 2em;
    padding-bottom: 4em;
}
.twoCol p {
    padding-bottom: 1em;
}
.servicesIntro {
    padding-top: 1em;
}
#serArt {
    margin: 1em 0;
    padding: 2em 0;
    border-top: solid 2px #eaf4ff;
}
#serArt article {
    display: block;
    background-color: #eaf4ff;
    padding: 1em 2em 2em;
    margin: 3em 2em;
}

/**********************************************************/
/*************** 10. Safety - Water Safety page styles ***************/
span.ww {
    font-weight: 700;
    color: #1d4c7f;
}
/* sect.center styles */
.center h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #ff5f1f;
}
/* sect.twoCol styles */
.stwoCol h4 {
    font-family: usual, sans-serif;
    font-size: 1em;
    font-weight: 700;
}
.stwoCol img {
    width: 80%;
    padding: .5em 0;
}
.stwoCol {
    margin: 0 1.5em;
}
.ww h4 {
    font-size: 1.2em;
    font-weight: 600;
    padding:  0 1em .5em 1em;
}
.waterSafetyP{
    border-bottom: solid 2px #eaf4ff;
    padding-bottom: 4em;
    margin-bottom: 2em;
}
.brochure img {
    width: 80%;
    border: solid 1px #707070;
}
#outside, #inside {
    margin-bottom: 1.5em;
}
#outside a, #inside a {
    display: block;
}
.wwTag {
    margin: 0 .5em;
}
.test {
    border: solid 1px #1d4c7f;
    padding: .5em;
    margin: .5em 1em;
}
.test p {
    font-size: .8em;
    font-style: italic;
}
.learn p:first-child {
    font-size: 1.2em;
    font-weight: 600;
}
.learn p a.whiteBtn {
    margin: 1em 4em;
}
.learn p:nth-child(2) a, .learn p:last-child a {
    display: block;
}
/* sect.fact styles */
#fact {
    padding: 1.5em;
    border-top: solid 2px #eaf4ff;
    margin-top: 4em;
}
#truths {
    margin: .5em 0;
    padding: 2em 0;
}
.five {
    display: block;
    background-color: #fefcd3;
    width: 80%;
    padding: 1em 2em 2em;
    margin: 2em auto 0;
}
.five ul {
    text-align: left;
}
.five ul li {
    padding-bottom: .5em;
}
img.svg {
    width: 3em;
    height: auto;
    padding-top: 1em;
}
#truths h3 {
    padding: .5em 0 .5em;
}


/*** Members-Login page styles ***/

/*** Members-meetings page styles ***/


/**********************************************************/
/*************** 11. Members - Meeting page styles ***************/
/*  General meeting and Board meeting section styles */
#generalMeeting, #boardMeeting {
    padding: 0 2em 2em 2em;
}
#boardMeeting, #meetingInfo {
    border-top: solid 2px #eaf4ff;
}
.address, .note {
    margin-top: 1em;
}
.address p{
    padding: 0;
}
.note p{
    color: #707070;
    font-size: .9em;
}
/*  Meeting info section styles */
/* Child selector */
#news>p{
    padding: 0 1em 1em 1em;
}
#calendar{
    border-top: solid 1px #eaf4ff;
    padding: 0 2em 2em 2em;
}
#news, #calendar {
    margin-top: 2em;
}
#meetingInfo{
    margin-bottom: 2em;
}

/**********************************************************/
/*************** 12. Join(members.html) page styles ***************/
#joinIpssa h2 {
    padding-bottom: 2em;
}
form ul,  #joinChecklist {
    list-style-type: none;
}
#joinIpssa, #joinBenefits {
    padding: 1em 2em 4em 2em;
}
/* Join checklist style */
#joinChecklist {
    margin-top: 1em;
}
#joinChecklist li {
    padding: .5em 0;
}
/* Benefits section style */
#joinBenefits {
    border-top: solid 2px #eaf4ff;
    margin-bottom: 2em;
}
#joinBenefits ul {
    padding-left: 2em;
    list-style-type: square;
}
#joinBenefits p, #joinBenefits ul li {
    text-align: left;
}

/**********************************************************/
/*************** 13. About us - Who we are page styles ***************/
.aboutIpssa {
    padding: 1em 2em;
}
.aboutIpssa p {
    text-align: left;
}
.aboutIpssaList ul{
    list-style-type: square;
    text-align: left;
    padding-left: 2em;
}
#missionIpssa h2 {
    padding: 1em 0 .5em 0;
}
#missionIpssa {
    padding-bottom: 5em;
}

/**********************************************************/
/*************** 14. Resources - Continuing Education Program page styles ***************/
.contEd p {
    text-align: left;
}
.contEdList ul{
    list-style-type: square;
    text-align: left;
    padding-left: 2em;
}
#contEdList h2, #contEdList h3 {
    text-align: left;
    padding: 1em 0 .5em 0;
}
#contEdList {
    padding-bottom: 5em;
}

/**********************************************************/
/*************** 15. Media Queries ***************/
@media screen and (min-width: 525px) {
    /*** Join(members.html) page Form styles ***/
    #joinForm label {
        display: inline-block;
    }
    #joinForm input {
        width: 250px;
    }
}
@media screen and (min-width: 615px) {
    /*** nav ***/
    .join h2 {
        font-size: 1em;
        width: 60%;
        text-align: center;
    }
    /*** home ***/
    .flexContainer {
        display: flex;
        flex-direction: column;
    }
    .joinLg img {
        max-width: 410px;
        height: auto;
        padding: 0 3em 0 3em;
        align-self: center;
    }    
    .colRt {
        margin: auto;
        padding: 1.5em 3em 0 3em;
    }
    /*** Safety-Water Safety page styles ***/
    div.wwTag {
        margin: 0 2em;
    }
    .video{
        margin: 0 50px;
    }
    .test p {
        font-size: 1em;
    }
    .learn p a.whiteBtn {
        margin: 1em;
    }
    .learn p:nth-child(2) a, .learn p:last-child a {
        display: inline;
    }
    .five {
        width: 70%;
    }
}
@media screen and (min-width: 650px) {
    /*** Meetings page - General meeting and Board meeting section styles ***/
    #generalMeeting, #boardMeeting {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;
    }
    #generalMeeting{
        grid-template-areas: 
            "headding headding"
            "map addr"
            "map note";
    }
    #boardMeeting {
        grid-template-areas: 
            "headding headding"
            "addr map"
            "note map";
    }
    #generalMeeting h2, #boardMeeting h2 { grid-area: headding; }
    .map { grid-area: map; }
    .address { grid-area: addr; }
    .note { grid-area: note; }
    #generalMeeting .address p, #generalMeeting .note p {
        text-align: left;
    }
    #boardMeeting .address p, #boardMeeting .note p {
        text-align: right;
    }
    .address, .note {
        margin-top: 0;
    }
    /***  Meeting info section styles ***/
    #meetingInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #news, #calendar {
        width: 48%;
        margin-top: 0;    
    }
    #calendar{
        border-top: none;
        padding: 0 2em 2em 0;
    }
}
@media screen and (min-width: 700px) {
    /*** home ***/
    #cta {
        display: none;
    }
    .joinLg {
        display: inherit;
        padding-bottom: 4em;
        border-bottom: solid 2px #eaf4ff;
    }
    #awards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: .5em;
        padding: 2em;
    }
    #awards article {
        padding: 1em 2em 2em;
        margin: 3em 0;
    }
    /*** Footer styles ***/
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
    /*** Services page styles ***/
    #serArt {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        padding:  2em 2em 3em;
    }
    #serArt article {
        padding: 1em 2em 2em;
        margin: 3em 0;
        display: flex;
        flex-direction: column;
    }
    #serArt article p {
        height: 11em;
    }
}
@media screen and (min-width: 750px) {
    /*** Join(members.html) page styles ***/
    #joinForm {
        width: 80%;
        margin: auto;
    }
}
@media screen and (min-width: 800px) {
    /*** home ***/    
    .joinLg img {
        max-width: 410px;
        height: auto;
        padding: 0 1em 0 3em;
    }
    .flexContainer {
        flex-direction: row;
    }
    .colRt {
        margin: auto;
        padding: 0 3em 0 1em;
    }
    /*** Services page styles ***/
    .twoCol {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .twoCol h2 {
        grid-column: span 2;
    }
    .twoCol p {
        order: 2;
        padding: 0 0 0 1em;
        align-self: center;
    }
    #serArt article p {
        height: 9em;
    }
    /*** Safety-Water Safety page styles ***/
    .stwoCol {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr 2fr;
        align-items: center;
        padding: 0 1em;
    }
    .stwoCol img {
        order: -1;
        grid-row: span 2;
        width: 100%;
        padding-right: 1em;
    }
    .brochure {
        display: flex;
        justify-content: space-around;
    }
    #outside, #inside {
        width: 45%;
    }
    #truths {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .five {
        width: 28%;
        margin: 2em 1em 0;
    }
}
@media all and (min-width: 960px){
    #hero {
        background: url(../images/hero-medium.jpeg) no-repeat center;
        background-position: 57% 54%;
        height: 40vh;
    }
    /***  Navigation bar ***/
    .logo a img {
        max-height: 110px;
    }
    nav {
        margin: 0 25px;
    }
    .navItem{
        position: relative;
        display: block;
        width: auto;
        order: 1;
        border: none;
    }
    .sactive .subNav {
        display: block;
    }
    .navbar{
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    .sactive .subNav {
        display: block;
        position: absolute;
        left: 0;
        top: 46px;
        background: rgba(255,255,255, 1);
        min-width:120px;
        text-align: left;
    }
    .subNav a:hover {
        background-color: #eaf4ff;
    }
    .subNav li:not(:last-of-type) { 
        border-bottom: solid 1px #eaf4ff;
    }
    .toggle {
        display: none;
        flex: 1;
        text-align: right;
    }
    .logo {
        flex: 1;
        order: 0;
    }
    /*** Services page styles ***/
    #serArt article p {
        height: 8em;
    }
}
/************************ END **********************************/